<h1><%= @movie.title %></h1>
<p>Description: <%=@movie.description %></p>
<h5>Director: <%=@movie.director.try(:name) %></h5>
<a href="/movies/<%=@movie.id%>/edit">Edit</a>
 
<form method="POST" action="/movies/<%=@movie.id%>">
<input type="hidden" name="_method" value="DELETE"  />
<input type="submit" value="Delete Movie" />
</form>




<%# create_table "movies", force: :cascade do |t|
    t.string "title"
    t.integer "year"
    t.boolean "popular"
    t.text "description"
    t.string "rating"
    t.integer "director_id"
    t.integer "genre_id"
  end %>